* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


body {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 200vh;
    background: linear-gradient(45deg, #090a10 40%, #161b24);
}

.glitch {
    width: 600px;
    height: 100%;
    background-size: cover;
    background-image: url(./img/Itachi-Uchiha-Wallpaper-Cute.jpg);
    animation: glitch 3.5s infinite steps(1);
}

@keyframes glitch {

    0%,
    100% {
        background-image: url(img/Itachi-Uchiha-Wallpaper-Cute.jpg);
        background-size: cover;
    }

    92.5% {
        background-image: url(./img/1.png);
        background-size: cover;
        opacity: 1;
    }

    95% {
        background-image: url(./img/2.png);
        background-size: cover;
        opacity: 0;
    }

    97.5% {
        background-image: url(./img/3.png);
        background-size: cover;
        opacity: 1;
    }
}